{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'text.css' %}?{% now 'U' %}">
    {% block linking %}
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&display=swap" rel="stylesheet">
    {% endblock linking %}
</head>
<body>
    {% block loader_contene %}
    <div class="loader">
        <svg viewBox="0 0 1000 600" id="loading_animation">
            <text x="50%" y="50%" dx="-0.46em" dy="-0.18em" text-anchor="middle" class="text-body T">T</text>
            <text x="50%" y="50%" dx="0.2em" text-anchor="middle" class="text-body k">K</text>
            <text x="50%" y="50%" dx="0.3em" text-anchor="middle" class="text-body P">P</text>
        </svg>
    </div>
    {% endblock loader_contene %}
</body>
</html>